#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=/home/sas/kuikjulia.trunk/src/kuikjulia
Icon=/home/sas/kuikjulia.trunk/glade/pixmaps/kuikjulia.svg
Terminal=false
Type=Application
Name[ja_JP]=kuikjulia 
